<app-header (searchChange)="onSearch($event)" (sortChange)="onSort($event)" (reset)="onReset()" (typeChange)="onType($event)"></app-header>
<div class="main-content flex-layout">
  <div class="pokedex-list">
    <app-pokemon-list (selectPokemon)="onSelectPokemon($event)" [search]="search" [sortBy]="sortBy" [isDescending]="isDescending" [filterType]="filterType"></app-pokemon-list>
  </div>

  <div class="detail-and-recents" *ngIf="selectedPokemon">
    <app-pokemon-detail [pokemon]="selectedPokemon" (closeDetail)="onCloseDetail()" (selectEvolution)="onSelectEvolution($event)" (pokemonSaved)="onPokemonSaved($event)"></app-pokemon-detail>
  </div>
  
  <div class="recent-pokemon-section" *ngIf="selectedPokemon && shouldShowRecentSection()">
    <app-recent-pokemon (selectPokemon)="onSelectPokemon($event)" (hasRecentChanged)="onRecentChanged($event)" #recentComponent></app-recent-pokemon>
  </div>
  
  <app-recent-pokemon 
    *ngIf="selectedPokemon && !shouldShowRecentSection()" 
    (hasRecentChanged)="onRecentChanged($event)" 
    #recentComponentHidden
    style="position: absolute; top: -9999px; visibility: hidden;">
  </app-recent-pokemon>
</div>

<footer class="app-footer">
  <div class="footer-content">
    <div class="author-info">
      <span class="author-name">Desarrollado por Uriel R. Palomares Elias</span>
      <div class="contact-links">
        <a href="mailto:urieleliasg&#64;gmail.com" class="contact-link email">
          <mat-icon>email</mat-icon>
          urieleliasg&#64;gmail.com
        </a>
        <a href="https://github.com/urielPalomares/mi-pokedex" target="_blank" class="contact-link github">
          <mat-icon>code</mat-icon>
          GitHub Repository
        </a>
      </div>
    </div>
  </div>
</footer>
