<div *ngIf="pokemon" class="pokemon-detail-panel-wrapper">
  <div class="pokeball-opening" [class.opening]="showOpeningAnimation">
    <div class="pokeball-container">
      <div class="pokeball-top-half"></div>
      <div class="pokeball-bottom-half"></div>
      <div class="pokeball-center-btn"></div>
    </div>
    <div class="opening-light"></div>
  </div>
  
  <div class="pokemon-detail-panel redesigned" [class.panel-appearing]="showPanel">
    <div class="detail-header redesigned-header">
      <div class="pokemon-image-container" [style.--type-color]="backgroundColor">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="detail-img-large no-bg-img" />
      </div>
      <div class="header-info">
        <div class="detail-id">#{{ pokemon.id }}</div>
        <h2 class="detail-name spectacular-name">{{ pokemon.name }} <span class="color-text">- {{ getTypeColorName(pokemon.types[0]) }}</span></h2>
        <div class="detail-species">{{ pokemon.species }}</div>
        <div class="detail-types spectacular-types redesigned-types">
          <span class="type-badge type-{{ type }}" *ngFor="let type of pokemon.types">
            <mat-icon class="type-icon">category</mat-icon> {{ type }}
          </span>
        </div>
      </div>
    </div>
    <div class="pokedex-entry spectacular-entry redesigned-entry">{{ pokemon.entry }}</div>
    <div class="detail-section abilities redesigned-abilities">
      <div class="section-title">HABILIDADES</div>
      <div class="ability-badges spectacular-abilities">
        <span class="ability-badge" *ngFor="let ability of pokemon.abilities">
          <mat-icon class="ability-icon">star</mat-icon> {{ ability }}
        </span>
      </div>
    </div>
    <div class="detail-section measurements spectacular-measurements redesigned-measurements">
      <div class="measurement">
        <mat-icon class="measurement-icon">height</mat-icon>
        <div class="label">ALTURA</div>
        <div class="value">{{ pokemon.height }}m</div>
      </div>
      <div class="measurement">
        <mat-icon class="measurement-icon">fitness_center</mat-icon>
        <div class="label">PESO</div>
        <div class="value">{{ pokemon.weight }}Kg</div>
      </div>
      <div class="measurement">
        <mat-icon class="measurement-icon">star</mat-icon>
        <div class="label">EXP BASE</div>
        <div class="value">{{ pokemon.base_experience }}</div>
      </div>
    </div>
    <div class="detail-section weaknesses spectacular-weaknesses redesigned-weaknesses">
      <div class="section-title">DEBILIDADES</div>
      <div class="weakness-badges">
        <span class="type-badge type-{{ type }}" *ngFor="let type of pokemon.weaknesses">
          <mat-icon class="weakness-icon">bolt</mat-icon> {{ type }}
        </span>
      </div>
    </div>
    <div class="detail-section stats spectacular-stats redesigned-stats">
      <div class="section-title">ESTADISTICAS</div>
      <div class="stats-list redesigned-stats-list">
        <canvas #radarChart width="320" height="320"></canvas>
      </div>
    </div>
    <div class="detail-section evolution spectacular-evolution redesigned-evolution">
      <div class="section-title evolution-title">
        <mat-icon class="evolution-icon">trending_up</mat-icon>
        CADENA EVOLUTIVA
      </div>
      <div class="evolution-chain-container">
        <div class="evolution-chain">
          <div class="evolution-stage spectacular-evo" *ngFor="let evo of pokemon.evolution; let i = index" (click)="selectEvolution.emit(evo)">
            <div class="evolution-level">Nivel {{ i + 1 }}</div>
            <div class="evo-img-container">
              <div class="evo-img-glow">
                <img [src]="evo.image" [alt]="evo.name" />
              </div>
              <div class="evo-sparkles">
                <div class="sparkle" *ngFor="let s of [1,2,3,4,5]"></div>
              </div>
            </div>
            <div class="evo-info">
              <div class="evo-name">{{ evo.name }}</div>
              <div class="evo-number">#{{ evo.id }}</div>
            </div>
            <div class="evolution-arrow" *ngIf="i < pokemon.evolution.length - 1">
              <div class="arrow-line"></div>
              <mat-icon class="arrow-icon">keyboard_double_arrow_right</mat-icon>
              <div class="evolution-text">Evoluciona</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
